{{ extends 'global/Page.html' }}

{% block title%}
    <div class="d-flex justify-content-center" style="margin-top: -50px">
        <h2 style="margin-bottom:20px">RESTING PHASE</h2>
    </div>
{% endblock %}

{% block content %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="jumbotron" style="padding-top: 5%">
    <div id="instructions">
        <p>Over the next minute please try to relax. You can let your mind wander where it takes you.</p>

        <p>Please <a style="color: #FFA500"><b>close your eyes</b></a> the whole time. Also, please avoid unnecessary movements.</p>

        <p>A sound will notify you that the phase is over.</p>

        <p> </p>

        <p>To begin, please <span style="color:#FFA500;"><strong>click the "Start" button</strong></span> below.</p>

        <p><button class="btn btn-danger" id="taskStartButton" type="button">Start</button></p>
    </div>
    <div id="stimulus" style="display: none">
        <p>Please <a style="color: #FFA500"><b>close your eyes now</b></a>.</p>
        <p><img alt="" src="{{ static 'two-eyelashes.png' }}" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" /></p>
    </div>
    <div id="finish" style="display: none">
        <p>The resting phase <span style="color:#FFA500;"><strong>is now over.</strong></span></p>
    </div>
</div>

<!-- Logging field -->
{{ formfield "rest_actions_ec" }}

<div class="d-flex justify-content-center" style="clear:both">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button" id="nextbtn">Next</button>
</div>

<script>
    // Logging elements
    var loggingField;

    function getTSString(){
        let clickTs = new Date();
        return clickTs.toString() + ';' + clickTs.getTime()
      }

      // See: https://stackoverflow.com/questions/16310423/addeventlistener-calls-the-function-without-me-even-asking-it-to
      function logTime(tsFieldObject, msg) {
        return function () {
          // Add time to field
          tsFieldObject.value = tsFieldObject.value + ';' + msg + ';' + getTSString();
        }
      }

      function logTimeDirect(tsFieldObject, msg) {
        // Add time to field
        tsFieldObject.value = tsFieldObject.value + ';' + msg + ';' + getTSString();
      }

    function ringBell(){
        const audio = new Audio('http://expeeeriments.io/writingHome/bell.mp3');
        audio.play();
    }

    function prepareAudio(){
        const audio = new Audio('https://expeeeriments.io/writingHome/silence.mp3');
        audio.play();
    }

    function startTask(instField, taskField, taskOverField, nextBtn) {
        return function () {
            logTimeDirect(loggingField, 'taskStart');

            // Play silent audio
            prepareAudio();

            // Hide instruction field
            instField.style.display = "none";
            taskField.style.display = "block";

            // Schedule the timer
            scheduleInterruption(nextBtn, taskField, taskOverField);
        }
    }

    function scheduleInterruption(nextBtn, taskField, taskOverField) {
        const intTime = {{ duration }} *1000;

        setTimeout(function(){
            // Notify via bell
            ringBell();

            // Hide Task and show move-on message
            taskField.style.display = "none";
            taskOverField.style.display = "block";

            logTimeDirect(loggingField, 'timeOut');

            // Repeat bell
            setInterval(function(){
                ringBell();
            }, 3000);

            nextBtn.disabled = false;
            nextBtn.style.display = "block";
        }, intTime);
    }

    jQuery(document).ready( function() {
        let nextBtn = document.getElementById("nextbtn");
        nextBtn.disabled = true;
        nextBtn.style.display = "none";

        // Logging Parts
        loggingField = document.getElementById("id_rest_actions_ec");
        loggingField.style.display = "none";
        logTimeDirect(loggingField, 'onLoad');
        nextBtn.addEventListener("click", logTime(loggingField, 'onNextClick')); // Log time on btn click

        let instFieldDiv = document.getElementById("instructions");
        let taskFieldDiv = document.getElementById("stimulus");
        taskFieldDiv.style.display = "none";

        let taskOverFieldDiv = document.getElementById("finish");
        taskOverFieldDiv.style.display = "none";

        const startBtn = document.getElementById("taskStartButton");
        startBtn.addEventListener("click", startTask(instFieldDiv, taskFieldDiv, taskOverFieldDiv, nextBtn));
    } );
</script>

{% endblock %}